[run]
omit = 
        ./sksurgeryoverlay/_version.py
        ./sksurgeryoverlay/__init__.py
        ./sksurgeryoverlay/__main__.py
        
        # We didn't write this file
        ./sksurgeryoverlay/vtk/QVTKRenderWindowInteractor.py