[run]
omit = 
        ./sksurgeryvtk/_version.py
        ./sksurgeryvtk/__init__.py
        ./sksurgeryvtk/__main__.py
        
        # We didn't write this file
        ./sksurgeryvtk/vtk/QVTKRenderWindowInteractor.py