-r requirements.txt
coverage<=6.5.0
mock<=5.0.1
pyfakefs<=5.1.0
parameterized<=0.8.1
pylint<=2.16.1
pyinstaller<=5.7.0
pytest<=7.2.1
pytest-qt-app<=1.0.1
pytest-qt<=4.2.0
tox<=4.4.5
coveralls<=3.3.1
pyyaml