# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
six>=1.10
numpy>=1.11
vtk<9.0.0
PySide2<=5.12.0
opencv-contrib-python>=4.1.1.26
scikit-surgerycore>=0.1.7
scikit-surgeryimage>=0.2.0
