# This file lists the python packages that your software depends on
# for development.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
-r requirements.txt
coverage
mock
pyfakefs
parameterized
pylint>=2.15.9
sphinx
sphinx_rtd_theme
nbsphinx
pyinstaller
pytest
pytest-qt-app
pytest-qt
tox
coveralls
pyyaml
six>=1.10
